*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* nav area started */

.hero{
    height: 135vh;
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;

}

.logo{
    color: #000;
    font-size: 28px;
}

.logo:hover{
    color: #ea2038;
    cursor: pointer;
}

nav ul li{
    color: #000;
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a:hover{
    color: #ea2038;
}

/* nav area ended */

/* banner section started */

 .architects-grp{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    width: auto;
 }

 .section-title{
    width: 550px;
    line-height: 40px;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
 }

 .section-details{
    width: 750px;
    text-align: center;
    margin-bottom: 40px;
 }

 .btn-headline{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    background-color: #FF900E;
    border-style: none;
    padding: 20px 40px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
 }

 .btn-headline:hover{
     background-color: #ea2038;
     cursor: pointer;
 }

 .banner-img{
    max-width: 80%;
 }


/* banner section ended */

/* feacture section started */

.full-team{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.team-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-top: 90px; 
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);  

}

.full-team-right-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 300px;
    margin-left: 200px;
}

.section-title-team{
    width: 550px;
    line-height: 40px;
    font-weight: 400;
    font-size: 45px;
    text-align: flex start;
    margin-bottom: 20px;
 }

 .section-details-team{
    width: 750px;
    text-align: center;
    margin-bottom: 40px;
    text-align: left;
 }

 .btn-headline-team{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    background-color: #FF900E;
    border-style: none;
    padding: 20px 40px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
 }

 .btn-headline-team:hover{
    background-color: #ea2038;
     cursor: pointer;
 }

 .thin-text{
color: #727272;
 }

 .bold-black{
    font-weight: 700;
    font-size: 45px;
 }

 .bold-orange{
    font-weight: 700;
    font-size:45px;
    color:#FF900E;
 }
/* feacture section ended */

/* feacture right section started */

 

.feature-u-will-love{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    padding-left: 100px;
}

.vertical-line{
    border-left: 6px solid #FF900E;
    height: 130px;
    position: absolute;
    left: 10%;
    margin-left: 6px;  
}
.section-title-team{
    width: 550px;
    line-height: 40px;
    font-weight: 700;
    font-size: 45px;
    text-align: flex start;
    margin-bottom: 20px;
 }

 .sub-section-heading{
    padding-bottom: 20px;
 }
 .sub-section-description{
    width: 750px;
    text-align: center;
    margin-bottom: 40px;
    text-align: left; 
 }

 .architect{
    max-height: 90%;
    max-width: 100%;
    padding-left: 90px;
    
 }

 .four-section{
    background-color: #fff;  
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: auto; 
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2); 
 }

  
  .ten-yr{ 
    position: absolute;
    color: #fff;
    font-weight: 600; 
    background-color: #FF900E;
    padding: 60px 80px;
    border-style: none;
    font-weight: 700;
    font-size: 45px;  
    margin-left: 840px; 
  }

  .thin-text-btn{
    font-weight: 200;
    font-size: 25px;
    padding-top: -50px;
  }
/* feacture right section started */

/* some facts section started */

.some-facts{
    width: 550px; 
    text-align: flex start;
    margin-top: 300px;
    margin-left: 250px;
}

/* some facts section started */
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px; 
    align-items: center;
}

.box{
    border: 2px solid #FF900E; 
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number{
    font-size: 1.5em;
    font-weight: 700;
}



/* some facts section started */




/* our sponsor started */
 .our-sponsor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
 }

 .sponsor-details{ 
    text-align: center;

 }

 .section-title-sponsor{
    font-size: 2rem;
    margin-bottom: 1rem;
 }

 .section-details-sponsor{ 
    margin-bottom: 2rem;

 }

.our-sponsor-logo{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap; 
} 

.sponsor-logos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 70px;
}

.sponsor-logos img{
    filter: grayscale(100%)

}

/* footer section started */

 footer{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .footer-area{
    margin-top: 100px;
    text-align: center;
    background: rgba(255, 144, 14, 0.1);
    height: 100px;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 100px;
 }

 .footer-declaration{
    padding-top: 45px;
   
 }


/* footer section ended */